<md-card class="edit-card">
  <md-card-header>
    <md-card-header-text>
      <h1 layout="row" layout-align="center center">edit contact</h1>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <form ng-submit="edit.edit()">
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>Name</label>
          <input type="text" ng-model="edit.name">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>Phone</label>
          <input type="tel" ng-model="edit.phone">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-primary" ng-click="edit.edit()">
          edit contact
        </md-button>
        <md-button class="md-accent" ng-click="edit.reset()">
          reset
        </md-button>
        <md-button type="reset" class="md-warn" ng-click="edit.back()">
          go back
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
